<!doctype html>
<html class="no-js" lang="">
<% include head.ejs %>
<body>

<%- include('header.ejs' , { data : user }); %>

<main class="container mt-3">
    <h3>Настройки</h3>
    <div id="alertMessage" class="alertbox alert fade" role="alert">
        <button type="button" class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span id="alertText">Изменения сохранены!</span>
    </div>
    <form action="/settings" id="settingsForm">
        <h4 class="mt-3">Настройки торговли</h4>
        <hr/>
        <div class="row">
            <div class="col-2">
                <label for="Tradelink" class="col-form-label"><strong>Trade-link</strong></label>
            </div>
            <div class="col-4">
                <input name="Tradelink" class="form-control" type="text" placeholder="tradelink here" id="Tradelink">
            </div>
            <div class="col-6">
                <p><em>Tradelink нужен для того, что бы наш бот смог отправлять вам сделки. Обязательно проверьте правильность ввода. При смене tradelnik в Steam не забудьте сменить его здесь</em></p>
            </div>
        </div>
        <button type="submit"  class="btn btn-primary">Схоронить изменения</button>
    </form>
</main>

<% include scripts.ejs %>

</body>
</html>