<!doctype html>
<html class="no-js" lang="">
<% include head.ejs %>
<body>

<%- include('header.ejs' , { data : user }); %>
<main class="container mt-3">

</main>

<% include scripts.ejs %>

</body>
</html>
